<div class="chat-header">
  <div class="left-header">
    <div class="header-title">
      <%= @country.name %>
    </div>
  </div>

  <div class="right-header">
      
        <% if user_signed_in? %>
        <div class="create-country-header">
          <%= link_to "New Country", new_country_path %>
          </div>
        <% end %>
      

      <div class="close-country">
        <% if user_signed_in? && current_user.id == @country.user_id %>
          <div class="header-button">
            <%= link_to "CLOSE Country", country_path(@country), method: :delete %>
          </div>
        <% end %>
      </div>
  

      
      
    </div>
  </div>

<div class="messages-wrapper">
    <%= render partial: 'message', collection: @messages %>
</div>

<%= form_with model: [@country, @message], class: 'form', local: true do |f| %>
  <div class="form-input">
    <%= f.text_field :title, class: 'form-message', placeholder: 'type a title' %>
    <%= f.text_field :text, class: 'form-message', placeholder: 'type a text' %>
    <label class="form-image">
      <span class="image-file">file</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit 'SEND', class: 'form-submit' %>
<% end %>